<!--<div class="row card-deck">-->
<!--    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let order of productOrders">-->
<!--        <div class="col-lg-4 col-md-6 mb-4">-->
<!--        <div class="card text-center">-->
<!--            <div class="card-header">-->
<!--                <h4>{{order.product.name}}</h4>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <a href="#"><img class="card-img-top" src={{order.product.pictureUrl}} alt=""></a>-->
<!--                <h5 class="card-title">${{order.product.price}}</h5>-->
<!--                <div class="row">-->
<!--                    <div class="col-4 padding-0" *ngIf="!isProductSelected(order.product)">-->
<!--                        <input type="number" min="0" class="form-control" [(ngModel)]=order.quantity>-->
<!--                    </div>-->
<!--                    <div class="col-4 padding-0" *ngIf="!isProductSelected(order.product)">-->
<!--                        <button class="btn btn-primary" (click)="addToCart(order)"-->
<!--                                [disabled]="order.quantity <= 0">Add To Cart-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="col-12" *ngIf="isProductSelected(order.product)">-->
<!--                        <button class="btn btn-primary btn-block"-->
<!--                                (click)="removeFromCart(order)">Remove From Cart-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->


<div class="row card-deck">
    <div class="col-lg-4 col-md-6 mb-4" *ngIf="singleProduct">
        <div class="col-lg-4 col-md-6 mb-4">
        <div class="card text-center">
            <div class="card-header">
                <h4>{{singleProduct.name}}</h4>
            </div>
            <div class="card-body">
                <a href="#"><img class="card-img-top" src={{singleProduct.pictureUrl}} alt=""></a>
                <h5 class="card-title">${{singleProduct.price}}</h5>
                <div class="row">
                    <div class="col-4 padding-0" *ngIf="!isProductSelected(singleProduct)">
                        <input type="number" min="0" class="form-control" [(ngModel)]=singleProduct.stock>
                    </div>
                    <div class="col-4 padding-0" *ngIf="!isProductSelected(singleProduct)">
<!--                        <button class="btn btn-primary" (click)="addToCart(singleProduct)"-->
<!--                                [disabled]="order.quantity <= 0">Add To Cart-->
<!--                        </button>-->
                    </div>
                    <div class="col-12" *ngIf="isProductSelected(singleProduct)">
<!--                        <button class="btn btn-primary btn-block"-->
<!--&lt;!&ndash;                                (click)="removeFromCart(singleProduct)">Remove From Cart&ndash;&gt;-->
<!--                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>






